<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= product.ingredients %>
  </p>

  <p>
    <strong>Benefits:</strong>
    <%= product.benefits %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= product.supplier_id %>
  </p>

  <p>
    <strong>Product category:</strong>
    <%= product.product_category_id %>
  </p>

</div>
